<div id="operatori" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Operatori</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <!--<button mat-raised-button
                    [routerLink]="'/apps/o/products/new'"
                    class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>ADD NEW PRODUCT</span>
            </button>-->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- nomeoperatore Column -->
                <ng-container cdkColumnDef="nomeoperatore">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Nome Operatore</mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        <p class="text-truncate">{{row.nomeoperatore}}</p>
                    </mat-cell>
                </ng-container>

                <!-- cognomeoperatore Column -->
                <ng-container cdkColumnDef="cognomeoperatore">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Cognome Operatore</mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        <p class="text-truncate">{{row.cognomeoperatore}}</p>
                    </mat-cell>
                </ng-container>

                <!-- username Column -->
                <ng-container cdkColumnDef="username">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Username</mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        <p class="text-truncate">{{row.username}}</p>
                    </mat-cell>
                </ng-container>

                <!-- email Column -->
                <ng-container cdkColumnDef="email">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        <p class="text-truncate">{{row.email}}</p>
                    </mat-cell>
                </ng-container>
                'nomeoperatore', 'cognomeoperatore', 'username', 'email', 'operatoreattivo'

                <!-- operatoreattivo Column -->
                <ng-container cdkColumnDef="operatoreattivo">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Stato</mat-header-cell>
                    <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="row.operatoreattivo" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                        <mat-icon *ngIf="!row.operatoreattivo" class="active-icon mat-red-500-bg s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

               <mat-row *cdkRowDef="let row; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/apps/pannello/gestione_operatori/operatori/'+row.codoperatore">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
